<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
    <!-- console 창으로 출력되는 appender 설정 -->
    <appender name="default.console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p [%30.30c:%4L] %m%n" />
        </layout>
    </appender>

    <!-- 파일로 출력되는 appender 설정 -->
    <appender name="default.file" class="org.apache.log4j.FileAppender">
        <!-- tomcat의 로그경로 -->
        <param name="file" value="../logs/module.log" />
        <param name="append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p [%30.30c:%4L] %m%n" />
        </layout>
    </appender>

    <!-- 3rdparty Loggers, 문제가 발생했을때만 로깅 -->
    <logger name="org.springframework" additivity="false">
        <level value="info"/>
    </logger>
    <!--<logger name="org.springframework.core">
        <level value="info" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>
    <logger name="org.springframework.context">
        <level value="info" />
    </logger>
    <logger name="org.springframework.web">
        <level value="info" />
    </logger>-->

    <!-- db 관련 -->
    <logger name="java.sql.Connection">
        <level value="info" />
    </logger>

    <logger name="java.sql.Statement">
        <level value="info" />
    </logger>

    <logger name="java.sql.PreparedStatement">
        <level value="info" />
    </logger>

    <logger name="java.sql.ResultSet">
        <level value="info" />
    </logger>
	
	<!--
		PSF의 로그레벨 설정
		info  : 설치 및 운영 단계
		debug : 개발 및 디버그
	-->
    <!-- Application Loggers -->
    <logger name="module" additivity="false">
		<level value="debug" />
        <!--<appender-ref ref="default.console" />-->
        <appender-ref ref="default.file" />
	</logger>

    <!-- Root Logger -->
    <root>
        <priority value="info" />
        <!--<appender-ref ref="default.console" />-->
        <appender-ref ref="default.file" />
    </root>

</log4j:configuration>
